#BASE_URL FOR GOAL.COM
BASE_URL = "BASE_URL"
#GOAL_LIVE_URL
LIVE_SCORE_URL = "LIVE_SCORE_URL"
# CHAMPIONSHIP LEAGUE
CHAMPIONSHIP_ENDPOINT = "LEAGE_ENDPOINT_1"
# UEFA CHAMPIONS LEAGUE
UEFA_CHAMPIONSHIP_ENDPOINT ="LEAGE_ENDPOINT_2"
# WORLD CUP
WORLD_CUP_ENDPOINT = "LEAGE_ENDPOINT_3"
# PREMIER LEAGUE
PREMIER_ENDPOINT = "LEAGE_ENDPOINT_4"